/* pages/usercenter/components/onlineOrders/components/orderList/orderList.wxss */
@import "./components/headerScreen/index.scss";
@import "./components/orderCard/index.scss";

.page {
  background-color: #efeff4;
  height: 100%;
}

.order-card-content {
  margin-top: 80px;
}

.order-nocontent {
  padding-top: 300px;
  text-align: center;
}

.order-nocontent > .sparrow-icon {
  font-size: 140px;
  line-height: 140px;
  color: #dadade;
}

.order-nocontent > view {
  padding-top: 10px;
  color: #cacacf;
  font-size: 28px;
}

.want-more-order {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 200px;
  line-height: 200px;
}

.weui-loadmore {
  width: 80%;
  margin-top: 80px;
}

.weui-loadmore__tips_in-line {
  background-color: #f6f6f6;
}
