
.product-title-head .h2 {
  font-size: 28px;
  color: #333;
  max-height: 88px;
  line-height: 42px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-title {
  display: flex;
  display: -webkit-box;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.product-title-head {
  -webkit-box-flex: 1;
  flex: 1;
}