/* pages/usercenter/components/onlineOrders/components/orderDetail/index.wxss */
@import './status/order-status.scss';
@import './trace/order-trace.scss';
@import './address/order-address.scss';
@import '../../../../../../component/orderProduct/orderProduct.scss';

.order-money {
  background-color: #fff;
}

.order-money-total .weui-form-preview__hd::after {
  display: none;
}

.weui-form-preview__item {
  display: flex;
  align-items: flex-start;
}

.weui-form-preview__label {
  color: #333;
  font-size: 28px;
  float: none;
  flex: 1;
  text-align: left;
  text-align-last: inherit;
}

.weui-form-preview__value_in-hd {
  font-size: 28px;
}

.weui-form-preview__value {
  font-size: 24px;
}

.weui-form-preview__bd .weui-form-preview__label {
  color: #666;
  font-size: 24px;
}

.weui-form-preview__bd .weui-form-preview__value {
  color: #666;
}

.weui-form-preview::after {
  display: none;
}

.order-money-total-pay {
  height: 100px;
  padding: 25px 0;
  line-height: 50px;
  font-size: 28px;
  text-align: center;
}

.order-money-freight::after {
  left: 0;
}

.order-money-total-pay text {
  font-weight: bolder;
}

.weui-cells {
  font-size: 24px;
}

.weui-cell__hd .label-orange {
  margin-left: 0;
  margin-right: 10px;
}

.order-message {
  position: relative;
  top: 0;
  left: 0;
  padding: 25px 30px;
  font-size: 24px;
  line-height: 50px;
  background-color: #fff;
}

.message-padding-bottom {
  padding: 25px 30px 150px 30px;
}

.order-message-item {
  display: flex;
  align-items: flex-start;
}

.order-message-l {
  height: 50px;
  line-height: 50px;
}

.order-message-r {
  flex: 1;
  height: 50px;
  line-height: 50px;
}

button.order-button-copy {
  vertical-align: middle;
  background-color: #fff;
  color: #666;
  margin-left: 20px;
  font-size: 24px;
  display: inline-block;
  height: 50px;
  width: 100px;
  padding: 0;
  line-height: 50px;
  border-radius: 2px;
}

.order-message + .order-message::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  border-bottom: 1px solid #d9d9d9;
  color: #d9d9d9;
}

/* order footer */

.order-footer {
  width: 100%;
  height: 100px;
  /* top: 0;
  left: 0; */
  background-color: #fff;
  position: fixed;
  bottom: 0;
}

.order-footer::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  border-top: 1px solid #d9d9d9;
  color: #d9d9d9;
}

.order-footer-more {
  width: 180px;
  height: 100px;
  float: left;
}

.order-footer-more-btn {
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 28px;
  background-color: #fafafa;
  color: #666;
  text-align: center;
}

.order-footer-message {
  width: 370px;
  height: 80px;
  padding: 10px 20px 10px 0;
  float: left;
  font-size: 24px;
  text-align: right;
}

.order-footer-pay {
  width: 180px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #b31b1b;
  font-size: 28px;
  color: #fff;
  float: right;
}

.order-footer-pay.white {
  background-color: #fff;
}

.order-footer-btn-dialog {
  width: 110px;
  padding: 0 25px;
  background-color: #808080;
  line-height: 70px;
  font-size: 24px;
  color: #fbfbfb;
  position: absolute;
  left: 10px;
  bottom: 90px;
  border-radius: 6px;
}

.order-footer-btn-dialog-item {
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
}

.order-footer-btn-dialog-item::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  border-top: 1px solid #fbfbfb;
  color: #fbfbfb;
}

.order-footer-btn-dialog-item:first-child::before {
  display: none;
}

.triangle-position {
  position: absolute;
  left: 60px;
  bottom: -10px;
}

.order-footer-btnbox {
  width: 560px;
  padding-right: 10px;
  padding-top: 22px;
  float: right;
}

.order-footer1, .order-footer2 {
  line-height: 52px;
  padding: 0 20px;
  font-size: 24px;
  color: #333;
  border-radius: 6px;
  float: right;
  margin-right: 20px;
  background-color: #fff;
}

.order-footer1 {
  border: solid 2px #ccc;
}

.order-footer2 {
  border: solid r4px #b31b1b;
}

.order-footer1::after, .order-footer2::after {
  display: none;
}

.order-money .weui-form-preview__hd {
  padding: 0 30px;
}

.order-money .weui-form-preview__hd .weui-form-preview__item {
  height: 104px;
  line-height: 104px;
}

.order-money .not-reduce-money.weui-form-preview__hd::after {
  border-bottom: 0;
}

.into_package {
  background-color: #fff;
  font-size: 28px;
}

.into_package .weui-cell__ft_in-access::after {
  top: initial;
}

.weui-cells.package-top {
  /* border-top: 1rpx solid #D9D9D9; */
  margin-top: 20px;
}

.weui-cells.package-top::after {
  border-bottom: none;
}

.order-product .gift-detail {
  flex-grow: 1;
  margin-left: 16px;
  padding-top: 30px;
}

.order-product .gift-h3 {
  min-height: 24px;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.order-product .gift-h4 {
  height: 20px;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 20px;
}

.order-product .gift-price {
  height: 24px;
  line-height: 24px;
}

.order-product .gift-price .price-new {
  display: inline-block;
  font-size: 24px;
}

.order-product .gift-price .price-old {
  display: inline-block;
  font-size: 24px;
  color: #b31b1b;
  text-decoration: line-through;
  padding-left: 30px;
}

.content {
  position: fixed;
  top: 0;
  z-index: 2001;
  width: 600px;
  height: 453px;
  margin: 300px 75px 389px;
}

.pickup-info {
  width: 600px;
  height: 393px;
  background-color: #fff;
  border-radius: 20px;
}

.header {
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  color: #b19770;
}

.content-info {
  width: 600px;
  height: 159px;
  background: #f7f7f7;
  text-align: center;
}

.pick-location {
  font-size: 28px;
  font-weight: 400;
  line-height: 90px;
  color: #333;
}

.pick-brand {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: #333;
}

.footer {
  height: 114px;
  line-height: 114px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #b31b1b;
}

.icon {
  margin-top: 60px;
  text-align: center;
  font-size: 60px;
  color: #ccc;
}

.order-footer1.red-border {
  border: 1px solid #b31b1b;
  color: #b31b1b;
}

.order-footer1 .transparent-text {
  color: transparent;
}
