@import 'module/displayProductScroll/displayProductScroll.scss';
@import 'module/displayProductList/displayProductList.scss';
@import 'module/displayImage/displayImage.scss';
@import 'module/displayProductCarousel/displayProductCarousel.scss';
@import 'module/displayNavbar/displayNavbar.scss';
@import 'module/showVideo/showVideo.scss';
@import 'module/showSearch/showSearch.scss';
@import 'module/brandList/brandList.scss';
@import 'module/promotionList/promotionList.scss';
@import 'module/displayProductScroll/displayProductScroll.scss';
@import 'module/displayImageCarousel/displayImageCarousel.scss';
@import 'module/brandWall/brandWall.scss';

.sku-list {
  float: left;
  /* background-color: #b96d7c; */
}

#product-detail-top .list-foot {
  background-color: transparent;
}

.background-normal {
  background-size: 100%;
  background-repeat: repeat;
  clear: both;
}
