.grids-bar-out {
  position: relative;
}

.grids-bar {
  display: flex;
  height: 100px;
  width: 100%;
}

.grids-bar.top-fixed {
  position: fixed;
  top: 0;
  z-index: 10;
}

.grids-bar.bottom-fixed {
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.grids-bar.absolute {
  position: absolute;
  top: 0;
}