.gp-swiper-module {
  position: relative;
}

.gp-swiper-img {
  width: 100%;
}

.gp-current-index {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
