/* pages/category/category.wxss */
@import "module/searchModule/searchModule.scss";


.category-container {
  width: 750px;
  overflow: hidden;
  position: absolute;
  display: flex;
  left: 0;
  top: 90px;
  z-index: 101;
  background-color: #fff;
  border-top: 1px solid #d2d2d2;
}

.category-first {
  min-width: 160px;
  max-width: 160px;
  border-right: 1px solid #d2d2d2;
}

.category-first-item-out {
  padding: 20px 0;
}

.category-first-item {
  border-left: solid 5px #fff;
  border-right: solid 5px #fff;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #333;
  background-color: #fff;
  font-size: 24px;
}

.category-first-item.current {
  color: #b31b1b;
  border-left-color: #b31b1b;
}

.category-second {
  flex-grow: 1;
  overflow: hidden;
  padding: 30px;
}

.category-name-div {
  padding: 24px 0;
}

.category-name {
  height: 56px;
  line-height: 56px;
  font-size: 28px;
  text-align: center;
}

.category-name .red-line{
  color: #b31b1b;
  margin: 0 14px;
}

.category-second-list {
  display: flex;
  flex-wrap:wrap;
}

.category-second-item {
  text-align: center;
  margin: 0 18px 20px 18px;
}

.category-second-item image{
  width: 140px;
  height: 140px;
}

.category-second-item view {
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:140px;
}

