@import '../trace/order-trace.scss';
@import '../address/order-address.scss';

.assignment-number {
  position: relative;
  top: 0;
  left: 0;
  padding: 25px 30px;
  font-size: 24px;
  line-height: 50px;
  background-color: #fff;
  margin-top: 20px;
  color: #666;
}

.assignment-num-item {
  display: flex;
  align-items: flex-start;
}

.assignment-num-item-l {
  height: 50px;
  line-height: 50px;
}

.order-message-r {
  flex: 1;
  height: 50px;
  line-height: 50px;
}
