@import './component/TwoBrandTwoCoupon/TwoBrandTwoCoupon.scss';
@import './component/OneBrandOneCoupon/OneBrandOneCoupon.scss';
@import './component/OneBrandTwoCoupon/OneBrandTwoCoupon.scss';
@import './component/OneBrandNoCoupon/OneBrandNoCoupon.scss';
@import './component/coupon/coupon.scss';

.dialog-getCoupon {
  display: block;
}

.dialog-getCoupon-box {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

/* 弹框 */

.dialog-getCoupon-content {
  width: 640px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 20px;
}

/* 关闭按钮 */

.def-close {
  width: 100%;
  text-align: center;
  margin-top: 42px;
}

.close-icon {
  font-size: 64px;
  color: #fff;
  line-height: 64px;
  height: 64px;
}
