.search-big-div, .weui-search-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border: none;
}

.search-big-div .weui-search-bar__form {
  border: none;
}

.searchModule.weui-search-bar__label {
  font-size: 0;
  height: 56px;
  line-height: 56px;
}

.searchModule.weui-search-bar__label .icon-search {
  display: inlineblock;
  height: 32px;
  top: -18px;
  margin-right: 10px;
  position: relative;
}

.searchModule.weui-search-bar__label .weui-search-bar__text{
  height: 56px;
  line-height: 56px;
  display: inline-block
}
