.order-trace {
  padding: 0;
  background-color: #fff;
  margin-top: 20px;
}

.order-trace-box {
  padding: 20px 30px;
}

.order-trace-title {
  font-size: 26px;
  line-height: 1.6em;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: auto;
  white-space: normal;
}

.order-trace-desc {
  font-size: 22px;
  padding-top: 15px;
  line-height: 1.6em;
}

.order-trace-title .name {
  margin-right: 40px;
}

.order-trace-icon {
  width: 40px;
}

.order-trace-icon .sparrow-icon {
  font-size: 40px;
}

.order-trace .weui-cell__ft.weui-cell__ft_in-access{
  height: 60px;
  line-height: 60px;
}