/* packageA/product/productClose/productClose.wxss */

.circle-grey {
  height: 208px;
  width: 208px;
  /* border-radius: 230rpx; */
  /* background-color: #eee; */
  line-height: 208px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 168px;
  margin-bottom: 50px;
  text-align: center;
}

.cart-empty .circle-grey image {
  height: 100%;
  width: 100%
}

.circle-grey .icon-navigate-cart {
  color: #fff;
  font-size: 100px;
}

.cart-hint {
  color: #666;
  font-size: 28px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  margin-bottom: 100px;
  position: absolute;
  top: 400px;
  width: 100%;
}

.select-button {
  position: absolute;
  top: 564px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 180px;
  height: 64px;
  font-size: 24px;
  line-height: 64px;
  background-color: transparent;
  color: #666;
  border: 1px solid #808080;
  text-align: center;
}

.cart-empty {
  height: 100vh;
  background-color: #fff;
}