.label-orange {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  background-color: #e3ba7d;
  /*border: solid 1px #b31b1b;*/
  padding: 2px 10px;
  border-radius: 6px;
  vertical-align: top;
  margin-left: 10px;
}
