.swiper-module {
  position: relative;
}

.swiper-img {
  width: 100%;
  height: 416px;
}

.current-index {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.swiper-module swiper {
  height: 418px;
}