/* pages/usercenter/invoiceOpening/index.wxss */

/* 选择发票类型 */

.invoice-title {
  font-size: 40px;
  font-weight: 600;
  height: 187px;
  line-height: 187px;
  color: #333;
  padding-left: 30px;
}

.invoice-info {
  margin: 20px 0;
}

.invoice-content {
  background-color: #fff;
  display: flex;
  padding: 40px 0;
}

.invoice-item {
  flex: 1;
  display: inline-flex;
  margin-left: 50px;
  font-size: 26px;
  font-weight: 400;
  height: 37px;
  line-height: 37px;
}

.confirm-button {
  height: 200px;
  line-height: 200px;
  margin: 80px 20px;
}

/* 确认发票信息 */

form {
  margin-top: 30px;
}

.weui-cell__bd {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  min-height: 60px;
}
