.service-item {
  color: #999;
  font-size: 24px;
  line-height: 1.6em;
  display: inline-block;
  margin-left: 40px;
}

.service-item .sparrow-icon {
  color: #b31b1b;
  font-size: 24px;
  margin-right: 10px;
}

.service-item .sparrow-icon.icon-service-warning {
  color: #3071ab;
}