/* 3件瀑布流样式 多引用商品详情页的为您推荐 */
.product-list-3 {
  width: 100%;
  /* height: 810rpx; */
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-list-3 .recommend-prod-img{
  position: relative;
}

.product-list-3 .recommend-prod-img image {
  width: 230px;
  height: 230px;
  margin-bottom: 10px;
}

.product-list-3 .product-list-3-item {
  width: 230px;
  max-width: 230px;
  margin-right: 6px;
  margin-left: 6px;
  height: 390px;
  margin-bottom: 12px;
  text-align: left;
  font-size: 0;
  background-color: #fff;
  overflow: hidden;
  border-radius: 4px;
}

.product-list-3 .recommend-prod-img .sparrow-icon.icon-sell-out {

  font-size: 90px;
  line-height: 130px;
  border-radius: 130px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  position: absolute;
  left: 0;
  text-align: center;
  top: 0;
  bottom: 0;
  width: 130px;
  height: 130px;
  right: 0;
  margin: auto auto;
}




.product-list-3 .brand-product-text{
  font-size: 20px;
  width: 100%;
  max-width: 100%;
  height: 64px;
  max-height: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
  white-space:normal;
}


.product-list-3 .brand-product-text.red-price{
  color:#b31b1b;
  height: 30px;
  font-size: 24px;
}

.product-list-3 .brand-product-text.red-price .old-price{
  color:#999;
  padding-left: 10px;
  font-size: 20px;
  text-decoration:line-through;
}

.product-list-3 .product-red-small-span {
  border: 2px solid #b31b1b;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 8px;
  color:#b31b1b;
  height: 26px;
  line-height: 26px;
  margin-top: 10px;
  margin-right: 16px;
  display: inline-block;
} 

.product-list-3-item .padding-l-4 {
  padding-left: 6px;
} 

.product-list-3-item .padding-r-4 {
  padding-right: 6px;
}