/* @import 'module/searchModule/searchModule.scss';
@import 'module/swiperModule/swiperModule.scss';
@import 'module/freshModule/freshModule.scss';
@import 'module/topicModule/topicModule.scss';
@import 'module/flashsaleModule/flashsaleModule.scss';
@import 'module/hotBrandModule/hotBrandModule.scss';
@import 'module/hotProductModule/hotProductModule.scss';
@import 'module/skuListModule/skuListModule.scss'; */
@import '../gridsNew/grids.scss';

/* .index-content {
  background-color: #f7f7f7;
  margin-bottom: 50px;
} */
/* 头图 */
/* 搜索栏 */

/* 每一模块的标题 + 滚动组件 */

/* .scroll-item {
  margin-bottom: 20rpx;
  background-color: #fff;
}

.scroll-item .scroll-title {
  padding: 0 30rpx;
  height: 110rpx;
}

.scroll-title .left {
  float: left;
  height: 110rpx;
  line-height: 110rpx;
  font-size: 16px;
}

.scroll-title .right {
  float: right;
  height: 110rpx;
  line-height: 110rpx;
  font-size: 12px;
  color: #999;
}

.scroll-view_H {
  width: 100%;
  white-space: nowrap;
  overflow: scroll;
  display: flex;
}

.scroll-view_H.first {
  height: 424rpx;
}

.scroll-flex {
  display: flex;
  align-items: flex-start;
}

.scroll-view_H.first.height-390 {
  height: 390rpx;
}

.scroll-view_H.topic {
  height: 390rpx;
}

.scroll-view_H.flashsale {
  height: 424rpx;
}

.scroll-view_H.hotBrand {
  height: 380rpx;
}

.empty-transparent {
  color: transparent!important;
}
 */
