/* 闪购特惠 */
.flashsale-item {
  height: 424px;
  width: 240px;
  max-width: 240px;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  font-size: 0;
}

.flashsale-item image{
  height: 240px;
  width: 240px;
  margin-bottom: 10px;
}

.red-price {
  color: #b31b1b;
}

.flashsale-item .flashsale-text {
  font-size: 24px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flashsale-item .flashsale-text.red-price {
  margin-top: 10px;
  color: #b31b1b;
}

.red-price .old-price {
  color: #a0a0a0;
  text-decoration:line-through; 
  margin-left: 10px;
}