/* pages/usercenter/components/moreServices/components/changePhone/changePhone.wxss */

.page {
  background-color: #fff;
}

/* .change-phone {
  margin-top: 200rpx;
} */

.current-phone {
  font-size: 28px;
  text-align: center;
  font-weight: 400;
  color: #ccc;
}

.current-phone-value {
  font-size: 36px;
}

.input-form {
  margin: 20px auto;
}
