/* pages/usercenter/invoiceOpening/components/addInvoiceTitle/index.wxss */

.add-invoice-title {
  width: 710px;
  height: 190px;
  border-radius: 10px;
  margin: 30px 20px;
  background-color: #fff;
  line-height: 190px;
  text-align: center;
  color: #e64340;
  font-size: 28px;
  font-weight: 400;
}

.add-invoice-icon {
  font-weight: 600;
  font-size: 30px;
}

.add-invoice-title-button {
  margin-left: 30px;
}
