/* pages/usercenter/components/storeServices/components/parkingPayment/components/ParkingLotInfo/index.wxss */

.parking-lot-info {
  text-align: left;
  padding: 60px 30px 20px;
}

.parking-lot-title {
  font-size: 48px;
  font-weight: 600;
  color: #404959;
  height: 67px;
  line-height: 67px;
}

.parking-lot-value {
  height: 105px;
  margin: 20px auto;
  line-height: 36px;
  font-size: 24px;
  font-weight: 400;
  color: #69727e;
}
