/* pages/usercenter/components/storeServices/components/parkingPayment/components/ParkingInfo/index.wxss */

.parking-info-content {
  background-color: #fff;
  margin-bottom: 100px;
}

.license_plate {
  height: 50px;
  line-height: 50px;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  color: #404959;
}

.parking-time {
  height: 95px;
  line-height: 95px;
  font-size: 24px;
  font-weight: 400;
  color: #69727e;
  text-align: center;
}

.big-text {
  height: 95px;
  font-size: 68px;
  line-height: 95px;
  color: #404959;
}

.tips {
  margin: 20px auto;
  height: 33px;
  line-height: 33px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #69727e;
}

.item-name {
  font-size: 24px;
  font-weight: 400;
}

.name-color {
  color: #ccc;
}

.value-color {
  color: #333;
}

.value-color-red {
  color: #b31b1b;
}

.border-style {
  border-top: 1px dotted #ccc;
  border-bottom: 1px dotted #ccc;
}

.payment {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.payment-button {
  font-size: 32px;
  font-weight: 600;
  color: #f6e3e3;
  text-align: center;
  background-color: #b31b1b;
  letter-spacing: 2px;
}
