.return-top {
  position: fixed;
  height: 80px;
  line-height: 80px;
  width: 80px;
  border-radius: 80px;
  border: 1px solid #e1e1e1;
  bottom: 200px;
  background-color: rgba(250, 250, 250, 0.9);
  right: 20px;
  text-align: center;
  z-index: 50
}

.return-top .icon-return-top {
  font-size: 40px;
  color: #666;
}