.help-box {
  position: relative;
  background-color: #fff;
  font-size: 28px;
  line-height: 1.6em;
}

.help-box::before, .help-box::after, .help-item::before {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  color: #d9d9d9;
}

.help-box::before {
  top: 0;
  border-top: solid 2px #d9d9d9;
}

.help-box::after {
  bottom: 0;
  border-bottom: solid 2px #d9d9d9;
}

.help-item {
  padding: 20px 30px;
  position: relative;
}

.help-item::before {
  top: 0;
  left: 30px;
  border-top: solid 2px #d9d9d9;
}

.help-item:first-child::before {
  display: none;
}

.help-q {
  color: #b31b1b;
}

.help-a {
  color: #333;
}

.help-a-detail {
  font-size: 24px;
  color: #666;
}

.help-goback {
  padding: 0 40px;
  margin-top: 60px;
}

.help-goback > button.weui-btn {
  background-color: #fbfafc;
  border-color: #d6d5d6;
}

.help-box .weui-cell__ft_in-access::after {
  position: absolute;
  top: 0;
}
