.red-small-span {
  border: 2px solid #b31b1b;
  font-size: 20px;
  border-radius: 4px;
  padding: 0 10px;
  color: #b31b1b;
  height: 32px;
  line-height: 32px;
  margin-top: 14px;
  margin-right: 16px;
  display: inline-block;
}