/* pages/usercenter/invoiceOpening/components/invoiceTitleCard/index.wxss */

.invoice-title-card {
  width: 710px;
  height: 190px;
  margin: 30px 20px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
}

.invoice-info {
  flex: 7;
  font-weight: 400;
  padding: 40px 30px;
}

.invoice-button {
  flex: 1;
  line-height: 190px;
  text-align: center;
  color: #e5e5e5;
}

.company-name {
  font-size: 32px;
  color: #333;
}

.duty-paragraph {
  font-size: 26px;
  color: #ccc;
  margin-top: 28px;
}
