/* pages/usercenter/components/storeServices/components/shoppingRecord/index.wxss */

.page {
  background-color: #f7f7f7;
  padding: 20px;
}

.no-more-order {
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #c3c3c3;
}
