.sku-list {
  background-color: #fff;
  float: left;
}
.list-foot {
  height: 110px;
  font-size: 24px;
  color: #d2d2d2;
  text-align: center;
  line-height: 110px;
  background-color: #f7f7f7;
  clear: both;
}
