.weui-search-bar {
  background-color: #f0f0f0;
  border: none;
  padding: 12px 30px;
}

.weui-search-bar__form {
  border: none;
}

.weui-search-bar__label {
  height: 64px;
  line-height: 64px;
}

.weui-search-bar__label > icon {
  vertical-align: top;
}

.weui-search-bar__label > view {
  vertical-align: top;
}

.weui-search-bar__cancel-btn {
  font-size: 28px;
  line-height: 64px;
}

.weui-search-bar__input {
  height: 64px;
  line-height: 64px;
}

.weui-icon-search_in-box {
  top: 18px;
}

.weui-icon-clear {
  padding: 18px 16px;
}
