/* pages/usercenter/components/storeServices/components/parkingPayment/index.wxss */
@import '../../../../../../common/css/iconfont.scss';

.parking-payment {
  background-color: #f7f7f7;
}

.tips {
  float: none;
  margin: 110px auto 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #69727e;
  text-align: center;
}

.query-button {
  width: 690px;
  height: 88px;
  background-color: #b31b1b;
  border-radius: 10px;
  font-size: 32px;
  line-height: 88px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 5px;
  color: #f6e3e3;
  margin: 30px 30px 40px;
}

.direct-payment {
  height: 37px;
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  color: #69727e;
}

.license-list {
  box-sizing: border-box;
  margin: 0 27px;
  width: 696px;
  height: 220px;
  overflow: none;
}

.license-card {
  float: left;
}
