.footer-product {
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.footer-product-item .product-btn3 {
  border: none;
  box-sizing: border-box;
  font-size: 28px;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  line-height: 100px;
  color: #333;
  background-color: #e7e7e7;
}

.footer-product-item .product-btn3::after {
  display: none;
}

.footer-product-item, .footer-product-item2 {
  flex: 1;
  height: 100%;
}

.footer-product-item {
  display: flex;
  align-items: center;
}

.footer-product-btn1, .footer-product-btn2 {
  border: none;
  box-sizing: border-box;
  font-size: 28px;
  height: 100px;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  line-height: 100px;
  position: relative;
}

.footer-product-btn1 .icon-hint {
  position: absolute;
  top: 14px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.footer-product-btn1 .hint-text {
  position: absolute;
  height: 40px;
  width: 100%;
  line-height: 40px;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 20px;
}

.footer-product-btn1::after, .footer-product-btn2::after {
  display: none;
}

.footer-product-btn1 {
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  color: #333;
  background-color: #fbfbfb;
}

.footer-product-btn1.no-right {
  border-right: none;
}

.footer-product-btn1 .icon-shop, .footer-product-btn1 .icon-shopping-cart{
  font-size: 36px;
}

.footer-product-btn2 {
  border-top: solid 2px #b52020;
  color: #fff;
  background-color: #b52020;
}

.footer-product-btnclose {
  background-color: #fff;
  border-top: none;
}

.footer-product-btnclose .icon-close{
  color: #999;
  font-size: 40px;
}

.footer-product-menu {
  border-top: solid 2px #ccc;
  min-height: 100px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 100px;
  padding: 10px 0;
}

.footer-product-menu view {
  width: 25%;
  height: 100px;
  float: left;
  font-size: 24px;
  text-align: center;
}

.footer-product-menu view .sparrow-icon {
  font-size: 40px;
  height: 40px;
  padding-top: 14px;
  line-height: 40px;
  display: block;
  color: #999;
}

.footer-product-menu view text {
  font-size: 24px;
  display: block;
  color: #333;
}

.small-red-number {
  color: #fff;
  background-color: #fb3333;
  font-size: 24px;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  position: absolute;
  line-height: 30px;
  text-align: center;
  right: 6px;
  top: 4px;
  z-index: 10;
}
