.counter-name {
  padding-left: 30px;
  height: 100px;
  line-height: 100px;
  font-size: 28px;   
  font-weight: bold;    
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  display: flex;
  display: -webkit-flex;
  background-color: #fff;
}

.counter-product .sparrow-icon.icon-shop {
  font-weight: normal;
  margin-right: 10px;
}

.counter-product .product{
  background-color: #fafafa;
  height: 170px;
  display: flex;
  display: -webkit-flex;
  /* border-bottom: 1px solid #fff; */
  padding-left: 30px;
}

.counter-product .left {
  width: 140px;
  min-width: 140px;
  padding: 15px 20px 15px 0;
}

.counter-product .left image {
  height: 140px;
  width: 140px;
}

.counter-product .right {
  padding-right: 30px;
  padding-top: 28px;
}

.counter-product .center {
  flex-grow: 1;
}

.counter-product .new-price {
  font-size: 28px;
  height: 28px;
  line-height: 28px;
  color: #b31b1b;
  font-weight: bold;
}

.counter-product .old-price {
  font-size: 28px;
  height: 28px;
  line-height: 28px;
  text-decoration: line-through;
  color: #b7b7b7;
  margin-top:5px;
}

.counter-product .number {
  text-align: right;
  color: #666;
  font-size: 24px;
  margin-top: 15px;
}

.counter-product .center {
  padding-top: 28px;
}

.counter-product .product-name {
  font-size: 28px;
  height: 70px;
  line-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-width: 350px;
}

.counter-product .product-type {
  font-size: 24px;
  /* height: 24rpx;
  line-height: 24rpx; */
  margin-top: 12px;
  color: #707070;
  overflow: hidden;
}

.left-left .label-orange{
  margin-left: 0;
}

.left-left{
  width: 90px;
  height: 45px;
  padding-top: 65px;
}


/* 沿用购物车里的赠品样式 */
.gift-item {
  display: flex;
  display: -webkit-flex;
  height: 140px;
  padding-top: 36px;
  padding-bottom: 36px;
  border-top:2px solid #d9d9d9;
}

.gift-product .gift-item:last-child {
  border-bottom: none;
}

.gift-text {
  width: 84px;
}

.gift-info {
  flex-grow: 1;
  display: flex;
  display: -webkit-flex;
}

.gift-img {
  width: 140px;
  position: relative;
}

.gift-img image {
  height: 140px;
  width: 140px;
}

.gift-detail {
  flex-grow: 1;
  margin-left: 16px;
}

.gift-text .label-orange {
  margin-left: 0;
  margin-top: 50px;
}

.gift-h4 {
  height: 20px;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 50px;
  color: #b2b2b2;
}

.gift-h3 {
  min-height: 24px;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.gift-price .price-new {
  display: inline-block;
  font-size: 24px;
}

.gift-price .price-old {
  display: inline-block;
  font-size: 24px;
  color: #b31b1b;
}

.gift-price .price-old.grey {
  color: #b2b2b2;
  text-decoration:line-through;
}

.gift-price {
  height: 24px;
  line-height: 24px;
}

.list-ul.show {
  display: show;
}

.list-ul.hide {
  display: none;
}

.sparrow-icon.icon-sell-out {
  font-size: 90px;
  line-height: 130px;
  border-radius: 130px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  position: absolute;
  left: 10px;
  text-align: center;
  width: 130px;
  height: 130px;
  top: 10px;
}

.sparrow-icon.icon-no-more-gift {
  font-size: 90px;
  line-height: 130px;
  border-radius: 130px;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  position: absolute;
  left: 10px;
  text-align: center;
  width: 130px;
  height: 130px;
  top: 10px;
}