.order-page {
  background-color: #e6e7eb;
  /* padding-bottom: 30rpx; */
  /* height: 100vh; */
}

.order-address {
  height: 165px;
  display: flex;
  display: -webkit-flex;
  background-color: #fff;
  line-height: 165px;
}

.order-address .left {
  color: #666;
  width: 100px;
  min-width: 100px;
  text-align: center;
  font-size: 40px;
}

.order-address .right {
  width: 80px;
  text-align: center;
  color: #bababa;
  min-width: 80px;
}

.order-address .center {
  flex-grow: 1;
  padding-top: 32px;
}

.personal-info {
  height: 28px;
  line-height: 28px;
  font-size: 28px;
  margin-bottom: 18px;
}

.personal-info .name {
  float: left;
}

.personal-info .number {
  float: right;
}

.personal-address {
  color: #666;
  font-size: 24px;
  height: 58px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.order-page .title {
  background-color: #fff;
}

.product-section {
  background-color: #fff;
  margin-top: 30px;
}

.show-all-product {
  height: 90px;
  vertical-align: rigth;
  padding-right: 30px;
}

.show-all-product .text {
  font-size: 24px;
  height: 90px;
  line-height: 90px;
  float: right;
  margin-right: 15px;
}

.show-all-product .inital-pay {
  font-size: 24px;
  float: left;
  height: 90px;
  line-height: 90px;
  padding-left: 30px;
}

.show-all-product .sparrow-icon.icon-enter {
  color: #bababa;
  height: 90px;
  line-height: 90px;
  float: right;
  font-size: 28px;
}

/*所有的活动*/

.all-active {
  padding-left: 30px;
  margin-top: 30px;
  background-color: #fff;
}

.all-active .active-item {
  padding: 17px 0;
}

.active-item .item {
  padding: 17px 30px 17px 0;
  height: 24px;
  line-height: 24px;
}

.active-item.red-span .item {
  padding: 11px 30px 11px 0;
  height: 36px;
  line-height: 36px;
}

.active-item .label-red {
  height: 32px;
  line-height: 32px;
}

.active-item .item:last-child {
  border-bottom: none;
}

.active-item .left {
  float: left;
  height: 24px;
  line-height: 24px;
}

.active-item.red-span .left {
  height: 36px;
  line-height: 28px;
}

.active-item .left-info {
  float: left;
  height: 36px;
  line-height: 36px;
  font-size: 24px;
  margin-left: 15px;
}

.active-item .right {
  float: right;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
}

.active-item.red-span .right {
  height: 36px;
  line-height: 36px;
}

.active-item .item.red-span .right {
  height: 32px;
  line-height: 32px;
}

.active-item .right.grey {
  color: #666;
}

.font-12 {
  font-size: 24px;
}

.all-active .choose-ticket {
  height: 28px;
  padding: 36px 30px 36px 0;
  border-bottom: 2px solid #e5e5e5;
}

.choose-ticket .mar-right-0.right {
  margin-right: 0;
}

.choose-ticket .left {
  font-size: 28px;
  float: left;
  height: 28px;
  line-height: 28px;
  font-weight: bold;
}

.choose-ticket .right {
  float: right;
  font-size: 24px;
  color: #b31b1b;
  font-weight: bold;
  height: 28px;
  line-height: 28px;
  margin-right: 15px;
}

.choose-ticket .sparrow-icon.icon-enter {
  color: #bababa;
  float: right;
  height: 28px;
  line-height: 28px;
  font-size: 28px;
}

.shipments {
  padding-left: 30px;
  margin-top: 30px;
  background-color: #fff;
}

.shipments .choose-shipments {
  height: 60px;
  padding: 25px 30px 25px 0;
  border-bottom: 2px solid #e5e5e5;
}

.shipments .invoice-text {
  height: 60px;
  padding: 25px 30px 25px 0;
}

.shipments .left {
  font-size: 28px;
  float: left;
  height: 60px;
  line-height: 60px;
  font-weight: bold;
}

.shipments .right {
  float: right;
  font-size: 24px;
  height: 60px;
  line-height: 60px;
  margin-right: 15px;
  color: #666;
}

.shipments .sparrow-icon.icon-enter {
  color: #bababa;
  float: right;
  height: 60px;
  line-height: 60px;
  font-size: 28px;
}

.choose-shipments .text1 {
  height: 24px;
  line-height: 24px;
  text-align: right;
  color: #b31b1b;
}

.invoice-text .text1 {
  height: 24px;
  line-height: 24px;
  text-align: right;
}

.choose-shipments .help-youself {
  height: 100%;
  color: #b31b1b;
}

.choose-shipments .text2, .invoice-text .text2 {
  margin-top: 12px;
  height: 24px;
  line-height: 24px;
  text-align: right;
}

.invoice-text .right {
  margin-right: 0;
}

.leave-a-message {
  padding: 30px;
  display: flex;
  display: -webkit-flex;
  font-size: 28px;
  background-color: #fff;
  margin-top: 30px;
}

.leave-a-message .left {
  width: 140px;
  min-width: 140px;
  font-weight: bold;
  height: 44px;
  line-height: 44px;
}

.leave-a-message .right {
  color: #666;
  flex-grow: 1;
}

.order-pay {
  padding: 50px 30px;
  background-color: #fff;
  margin-top: 30px;
}

.order-pay .pay-money {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.order-pay .pay-money .text1 {
  font-size: 24px;
  color: #666;
}

.order-pay .pay-money .text2 {
  font-size: 32px;
  color: #b31b1b;
  font-weight: bold;
}

.order-pay .get-point {
  text-align: center;
  font-size: 24px;
  color: #666;
  margin-top: 10px;
  margin-bottom: 50px;
}

.order-pay .other-pay {
  margin-top: 36px;
  margin-bottom: 66px;
}

.return-btn {
  color: #999;
  font-size: 24px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  margin-bottom: 16px;
}

.return-btn .sparrow-icon.icon-arrows-left {
  font-size: 20px;
  margin-right: 5px;
}

.order-page .weui-footer {
  margin-top: 100px;
}

.input-note {
  width: 100%;
  line-height: 44px;
  max-height: 64px;
  padding-top: 6px;
  overflow: hidden;
  z-index: 0;
}

.wx-pay {
  margin-bottom: 66px;
}

.order-input-integral {
  text-align: right;
  background-color: #eee;
  padding: 0 10px;
}

.weui-cells {
  font-size: 28px;
}

.counter-product .product-name {
  height: auto;
}

.counter-product .product-type {
  height: auto;
  line-height: 30px;
}
