/* pages/cart/index/index.wxss */
@import '../brandItem/brandItem.scss';
@import '../attendActivity/attendActivity.scss';

/*购物车*/
.money-off {
  padding-left:30px;
  border-bottom:20px solid #e6e7eb;
  background-color:#fffbed;
}

.money-off text.activity-title {
  color: #fb3333;
  /*font-weight: bold;*/
}

.money-off .weui-cell__ft_in-access {
  color: #fb3333; 
}

.money-off .activity-title-r {
  padding-left: 20px;
}

/* 购物车底部 */
.delete-chosen {
  height: 74px;
  line-height: 24px;
  background-color: #e6e7eb;
  color: #c9cacd;
  display: flex;
  display: -webkit-flex;
  font-size: 24px;
  padding-bottom: 100px;
}

.delete-chosen.one-more-chosen {
  color: #555;
}

.delete-out {
  width: 200px;
}

.sparrow-icon.icon-clear {
  margin-left: 20px;
  margin-right: 10px;
}

.cart-bottom {
  display: flex;
  border-top: #ccc; 
  background-color: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%
}

.bill-info {
  flex-grow: 1;
  height: 98px;
  line-height: 98px;
}

.caculate-btn {
  background-color: #999;
  color: #fff;
  font-size: 28px;
  height: 98px;
  line-height: 98px;
  width: 255px;
  text-align: center;
  border-radius: 0;
}

.caculate-btn.red {
  background-color: #b52020;
}

.info-left {
  float: left;
  padding-left: 30px;
  display: flex;
  display: -webkit-flex;
}

.info-right {
  float: right;
  padding-right: 20px;
}

.info-right .amount {
  height: 39px;
  line-height: 39px;
  margin-top: 10px;
  text-align: right;
  font-size: 32px;
  color: #b31b1b;
}

.info-right .amount .small {
  font-size: 24px;
}

.info-right .info-text {
  height: 39px;
  line-height: 39px;
  font-size: 24px;
  margin-bottom: 10px; 
}

.info-left .sparrow-icon.icon-not-choose{
  font-size: 40px;
}

.info-left .sparrow-icon.icon-choose{
  font-size: 40px;
  color: #b31b1b;
}

.info-left .info-text {
  font-size: 24px;
  margin-left: 10px;
}

.circle-grey {
  height: 208px;
  width: 208px;
  /* border-radius: 230rpx; */
  /* background-color: #eee; */
  line-height: 208px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 168px;
  margin-bottom: 50px;
  text-align: center;
}

.cart-empty .circle-grey image {
  height: 100%;
  width: 100%
}

.circle-grey .icon-navigate-cart {
  color: #fff;
  font-size: 100px;
}

.cart-hint {
  color: #666;
  font-size: 28px;
  text-align: center;
  height: 28px;
  line-height: 28px;
  margin-bottom: 100px;
  position: absolute;
  top: 400px;
  width: 100%;
}

.select-button {
  position: absolute;
  top: 564px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 180px;
  height: 64px;
  font-size: 24px;
  line-height: 64px;
  background-color: transparent;
  color: #666;
  border: 1px solid #808080;
  text-align: center;
}

.cart-empty {
  height: 100vh;
  background-color: #fff;
}