.activity-box {
  padding-left:0;
  align-items:initial;
  font-size:24px;
  min-height:50px;
  line-height:50px;
}

.activity-box::before {
  left: 0;
} 

.activity-title {
  display: flex;
}

.activity-title-l {
  display: block;
}

.activity-title-r {
  flex: 1;
}

.activity-image-text {
  padding-top: 20px;
  display: flex;
}

.activity-image-text image {
  width: 160px;
  height: 160px;
  border: solid 2px #e5e5e5;
}

.activity-image-text view {
  margin-left: 10px;
  flex: 1;
  display: -webkit-box;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 140px;
}

.weui-cell__ft_in-access::after {
  top: 24px;
}

.activity-box .weui-cell__ft_in-access::after {
  top: 24px;
  border-color: #ccc;
}
