/* pages/usercenter/components/storeServices/components/parkingPayment/components/LicensePlateInput/index.wxss */
@import '../../../../../../../../common/css/iconfont.scss';
@import '../../../../../../../../common/css/weui.scss';

.license-plate-content {
  height: 50px;
  width: 690px;
  margin: 75px 30px 40px;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  color: #333;
  display: flex;
}

.province_codes {
  background-color: #fff;
  color: #404959;
}

.input-content {
  background-color: #fff;
  margin-left: 20px;
  color: #404959;
}

.icon-newjiaobiaosanjiao {
  width: 60px;
  height: 60px;
  color: #000;
  font-size: 36px;
}

.weui-select {
  border: none;
}
