
page {
  background-color: #fff;
}

.topic-image {
  width: 100%;
  height: 320px;
  position: relative;
  top: 0;
  left: 0;
}

.topic-image > wx-image {
  width: 100%;
  height: 100%;
}

.topic-image > wx-text {
  height: 60px;
  line-height: 60px;
  padding: 0 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  color: #fff;
}

.topic-str {
  padding: 40px;
  border-bottom: 20px solid #fff;
}

.topic-name {
  color: #333;
  font-size: 32px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 20px;
}

.topic-subname {
  color: #999;
  font-size: 24px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}