.detail-action-title {
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}

.detail-action-title:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  background-color: #b21b1b;
}

.detail-action-title text {
  font-size: 28px;
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 100;
  padding: 0 15px;
}
