/* 推荐活动 */
.topic-item {
  height: 424px;
  width: 450px;
  max-width: 450px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  font-size: 0;
  position: relative;
}

.topic-item .remain-time {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  color: #fff;
}

.topic-item image{
  height: 250px;
  width: 450px;
  margin-bottom: 10px;
}

.topic-item .topic-text,.topic-item .topic-sub-text {
  font-size: 24px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topic-item .topic-sub-text {
  color: #a0a0a0;
}