.orange-href {
  display: inline-block;
  line-height: 40px;
  border: solid 2px #ffc636;
  font-size: 24px;
  color: #ffc636;
  padding: 0 15px;
  border-radius: 6px;
  margin-left: 20px;
}

.orange-href:first-child {
  margin-left: 0;
}

.orange-href .icon-enter {
  font-size: 20px;
}
