/* 优惠券 */
 .dialog-getCoupon-item {
  width: 100%;
  height: 180px;
  position: relative;
  top: 0;
  left: 0;
}
.dialog-getCoupon-image {
  width: 580px;
  height: 180px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.dialog-getCoupon-get-number {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  padding-top: 44px;
  font-size: 28px;
}
.dialog-getCoupon-get {
  width: 120px;
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 200;
}