@import '../product/product.scss';
@import '../gift/gift.scss';

.activity-box {
  padding-left:0;
  align-items:initial;
  font-size:24px;
  min-height:50px;
  line-height:50px;
}

.activity-box::before {
  left: 0;
}

.activity-title {
  display: flex;
}

.activity-title-l {
  display: block;
}

.activity-title-r {
  flex: 1;
  position: relative;
}

.activity-image-text {
  padding-top: 20px;
  display: flex;
}

.activity-image-text image {
  width: 160px;
  height: 160px;
  border: solid 2px #e5e5e5;
}

.activity-image-text view {
  margin-left: 10px;
  flex: 1;
}

.weui-cell__ft_in-access::after {
  top: 24px;
}

.brand-title .activity-box {
  min-height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.brand-title .activity-title-r {
  font-size: 28px;
  /*font-weight: bold;*/
}

.brand-title .weui-cell__ft_in-access{
  margin-top: 6px;
}

.sparrow-icon.icon-not-choose, .sparrow-icon.icon-disable{
  color: #d2d2d2;
  font-size: 36px;
}

.sparrow-icon.icon-choose {
  color: #b31b1b;
  font-size: 36px;
}

.brand-title-l {
  height: 66px;
  line-height: 66px;
  margin-left: 30px;
  margin-right: 16px;
}

.sparrow-icon.icon-shop {
  font-size: 36px;
  color: #999;
}

.brand-title-name {
  position: absolute;
  left: 60px;
}

.brand-active .weui-cell__ft    {
  color: #e3ba7d;
}

.brand-active {
  padding-left: 30px;
}

.border-l-10 {
  margin-left: 30px;
  height: 2px;
  background-color: #d9d9d9; 
}

.brand-product {
  /* padding-left: 30rpx; */
}

.brand-active .activity-box:last-child {
  border-bottom:1px solid #D9D9D9;
}

.wholeActivity .activity-box .weui-cell__ft.weui-cell__ft_in-access {
  display: none;
}

.wholeActivity .activity-box  .icon-choose, .wholeActivity .activity-box  .icon-not-choose{
  color: transparent;
}

.wholeActivity .gift-product .gift-item:first-child {
  border-top: none;
}

.product-movable-area {
  width: 120%;
  height: 218px;
  /* position: absolute;  */
  /* right: 0; */
  float: right;
}

.product-movable-item {
  /* width: 100%;  */
  height: 100%;
  /* width: 155rpx;  */
   background-color: #fff; 
  right: 0;
  left: initial;
}

.just-product {
  overflow: hidden;
  position: relative;
  min-height: 218px;
} 

.delet-product-item {
  width: 20%;
  position: absolute;
  right: 0;
  background-color: #b31b1b;
  color: #fff;
  text-align: center;
  height: 100%;
  line-height: 218px;
  font-size: 28px;
}

