@import 'module/displayProductSwiper/displayProductSwiper.scss';
@import 'module/displayProductDefault/displayProductDefault.scss';
@import 'module/displayImage/displayImage.scss';

.sku-list {
  float: left;
}

.grids-bar {
  display: flex;
  height: 100px;
  position: fixed;
  bottom: 0;
  width: 100%;
}