/* pages/test/test.wxss */

/* css样式 */
body {
    background: #e5e5e5;
}
/* 瀑布流最外层 */
#root {
     margin: 0 auto;
     width: 750px;
     column-count: 5;
     column-width: 300px;
     column-gap: 40px;
}
/* 每一列图片包含层 */
.item {
     margin-bottom: 20px;
     /* 防止多列布局，分页媒体和多区域上下文中的意外中断 */
     break-inside: avoid;
     background: #fff;
}
.item:hover {
     box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);
}
/* 图片 */
.itemImg {
     width: 100%;
     vertical-align: middle;
}
/* 图片下的信息包含层 */
.userInfo {
     padding: 10px 20px;
}
.avatar {
     vertical-align: middle;
     width: 60px;
     height: 60px;
     border-radius: 50%;
}
.username {
     margin-left: 10px;
     text-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}